:root {
  --bg-color: #14111b;
  --green-gradient: linear-gradient(90deg, #00ff75 0%, #19ff83 68.76%);
  --royal-blue: #5d79ff;
  --global-font: 'Prompt', sans-serif;
  --black: #000;
  --white: #fff;
  --green: #19ff83;
  --red: #ff1962;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  letter-spacing: 0.02em;
  color: var(--text-color);
  line-height: 1.3;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}
html,
body {
  scroll-behavior: smooth;
}
#__next {
  // overflow-x: hidden;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.auto-fit-image {
  object-fit: contain;
  height: unset;
}

.container {
  // width: 100%;
  // padding-right: 15px;
  // padding-left: 15px;
  // margin-right: auto;
  // margin-left: auto;
  // margin-top: 0rem;
}
.btn {
  display: inline-flex;
  padding: 1.03613rem 2.41763rem;
  justify-content: center;
  align-items: center;
  border-radius: 7.94356rem;
  background: var(--black);
  font-family: var(--global-font);
  font-size: 1.466rem;
  font-weight: 500;
  letter-spacing: 0.14669rem;
  text-transform: uppercase;
  color: var(--white);
}

.team-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 3.35125rem;
  gap: 0.9375rem;
  border-radius: 11.01119rem;
  font-size: 2.03306rem;
  font-weight: 500;
  letter-spacing: 0.20331rem;
  text-transform: uppercase;
  font-family: var(--global-font);
  color: var(--black);
}
