:root {
  --primary: #a08dff;
  --font-title: 'Archivo', sans-serif;
  --font-body: 'Atkinson Hyperlegible', sans-serif;
  --text-color: #8f8eb6;
  --black-500: #171717;
  --grey-500: #2f2f31;
  --grey-900: #212121;
  --grey-1000: #131212;
  --bg-color-dark: #f6f8fa;
  --bg-section: #fff;
  --color-danger: #f50;
  --color-white: #f2f2ff;
  --border-radius: 20px;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  letter-spacing: 0.02em;
  color: var(--text-color);
  line-height: 1.3;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #080809;
}
html,
body {
  scroll-behavior: smooth;
}
#__next {
  // overflow-x: hidden;
}

*,
::after,
::before {
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

.auto-fit-image {
  object-fit: contain;
  height: unset;
}
